<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Environment" value="Production" />
		<add key="LogPath" value="C:\Logs\" />
	</appSettings>
	<connectionStrings>
		<clear />
		<add name="SqlDB"
			 connectionString="Data Source=.;Initial Catalog=SampleDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>